@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1562211038619'); /* IE9 */
  src: url('iconfont.eot?t=1562211038619#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJoAAsAAAAABhwAAAIcAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAooSQE2AiQDCAsGAAQgBYRtBy4bbQXInpo8KdIyAgpQ0BMwsEARVMvWszf/T8hJ4rMOUSEpFMJliwLl8WA0wmQj/mravhZhd3y6fPWdqqpN3Uv6ZTZLc10oFEahDAjJC4dEpyd4hppUwpDPczm9CXQg1/hAOe5FawwaQL04oED3wCiyEsq4YeyCF/iYQJspiub+/vyqMZDsVYG4iUO3MSgEpGTpFqHecDDFq5qW8ly+NbxE349/VgwoahW76uh6FzSWX5ys9lPzyWVACBLQ8RoqbGhI4qwxcaAtGNfWdrpjTkNKwZe6xnZxVItgf51d2gEmYDL44q0UoMBjUYa7Jm0l6rc3gbjCZWvET7sEsa4t0c9SeRMIxt/fLHvu/6A9weePQyQd5qJlRWfwA2QDB9JQ2LaSmqxxvKjvuK1NG5qwp89hqnHwbJnQYnCCq2EyQ6XFApnsBmrabaKuxRbarDs63q4faYtsxZp3gNDjC0WXD1R6/JDJ/qJmyB/qeqKNNhfBhe2WIh5F6DIG4D1C7MtCuA4exeUXGN5mLuUVEX+DVMVhMDWjnD7CAmmJLdVdaDELECRz2IPnMMsklCQT9FmLmMuFroumN2m+zBsjewhyMRQAnkcg5pMKIpjMRpXPX0ChWxkXdfTVJW8gUolnByaNMYA80haD+h7llcqdkIUxAQhEyoE9mIcyGQmUzfMSyMc00YRYaUF3RomhWm17ff53p6CNbSrh1FfySt4XjQYAAA==') format('woff2'),
  url('iconfont.woff?t=1562211038619') format('woff'),
  url('iconfont.ttf?t=1562211038619') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1562211038619#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e609";
}

